<!-- info section -->
<section class="info_section ">
<div class="container">
    <div class="row">
    <div class="col-md-4">
        <div class="info_contact">
        <h5>
            About Us
        </h5>
        <div>
            <div class="img-box">
            <img src="/images/location-white.png" width="18px" alt="">
            </div>
            <p>
            가천대학교 AI공학관
            </p>
        </div>
        <div>
            <div class="img-box">
            <img src="/images/telephone-white.png" width="12px" alt="">
            </div>
            <p>
            +82 010-0000-0000
            </p>
        </div>
        <div>
            <div class="img-box">
            <img src="/images/envelope-white.png" width="18px" alt="">
            </div>
            <p>
            demo@gmail.com
            </p>
        </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="info_info">
        <h5>
            Informations
        </h5>
        <a href="/about"><p>About</p></a>
        <a href="/do"><p>What we do</p></a>
        <a href="/contact"><p>Contact us</p></a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="info_form ">
        <h5>
            Newsletter
        </h5>
        <form action="/subscribe_process" method="post">
            <input type="email" name="email" placeholder="Enter your email">
            <button type="submit">
            Subscribe
            </button>
        </form>
        </div>
    </div>
    </div>
</div>
</section>

<!-- end info_section -->


<!-- footer section -->
<section class="container-fluid footer_section">
<p>
    &copy; 2023 All Rights Reserved By
    <a href="#">Team 虛僞所聞</a>
</p>
</section>
<!-- footer section -->