<section class="who_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="img-box">
            <img src="/images/neural.gif" alt="">
          </div>
        </div>
        <div class="col-md-7">
          <div class="detail-box">
            <div class="heading_container">
              <h2>About Us</h2>
            </div>
            <h2>"인터넷뉴스의 신뢰도를 쉽게 측정할 순 없을까?"</h2>
            <p>
              가천대학교 2023 P-실무 프로젝트 Team 虛僞所聞(허위소문).<br>
              AI를 연구하고 무한한 가능성을 정보화사회 우리의 삶으로 확장시키고자 합니다.<br>
              URL만으로 간단히 인터넷 뉴스의 신뢰도를 측정해보세요.
            </p>
            <div>
              <a href="http://ceprj.gachon.ac.kr/">
                More Projects
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>